<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <div class="alert alert-primary" role="alert">
    Olá {{nome}}
  </div>

  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" [(ngModel)]="nome" #nomeInput>
  </div>

  <button type="button" class="btn btn-primary" 
        (click)="adicionar(nomeInput.value)" [disabled]="nome.length == 0">Adicionar</button>

  <app-bem-vindo></app-bem-vindo>
</div>
